.tree>ul {
    /* width: 2000px; */
}

.tree * {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

.tree ul {
    white-space: nowrap;
    padding-top: 20px;
    position: relative;
}

.tree li {
    float: left;
    /*display: inline-block;*/
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

.tree li .trcont {
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.trcont .ui-widget-header {
    overflow: auto;
    overflow-wrap: break-word;
    max-width: 2500px;
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
    transition: 0.3s all;
}

.tree>ul>li {
    display: inline-block;
    float: none;
}

.before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 50%;
    height: 20px;
}


.after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.bfrul {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    height: 20px;
}

.contaftrdrop {
    border: 2px solid yellow;
}

.tree li .dragactive>.trcont {
    border: 1px solid yellow;
}

.tree li .drophover>.trcont {
    border: 2px solid red;
}

.funcbtnb {
    width: 18px;
    height: 15px;
    margin: 1px 1px 1px 20px;
    cursor: pointer;
    display: none;
}

.funcbtna {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.tfocus {
    background: #c8e4f8;
    color: #000;
    border: 2px solid #94a0b4;
}

.ui-widget-content {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.zomrval {
    border: 0;
    color: #f6931f;
    font-weight: bold;
}

.zmrcntr {
    float: left;
    width: 40px;
}